:root {
    --color-primary: #646464;
    --color-primary-light: #cfcfcf;
    --color-primary-dark: #2c2c2c;
    --color-dark-green: #216418;
    --color-secondary: #5B1864;
    --color-secondary-light: #9b2da9;
    --color-tertiary: #643518;
    --color-white: #ffe;
    --color-black: #000;
    --color-background: #EEEEEE;
    --color-container: #fcfcfc;
  }
  
  body {
    font-family: 'Lato', sans-serif!important;
    font-size: 1.2rem!important;
    font-weight: 400!important;
    background-color: var(--color-background);
  }

  .container {
    background-color: var(--color-container) ;
  }
  
  .row {
    justify-content: space-evenly;
    flex-basis: 100%;
  }
  
  h1 {
    font-family: 'Palanquin', sans-serif;
    color: var(--color-primary);
    text-align: center;
  }
  
  h2,
  h3 {
    font-family: 'Palanquin', sans-serif;
    color: var(--color-primary);
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  p, li {
    color: var(--color-primary);
    /* font-size: 1.2rem; */
  }

  .divider {
    width: 85%;
    height: 1px;
    background-color: var(--color-primary);
    margin: 0 auto;
  }


  /* anchors */
  
  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: var(--color-primary)!important;
  }
  
  a:hover,
  a:active {
    color: var(--color-primary-light)!important;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .img-cogs {
    opacity: 0.7;
  }


  