.main-title,.sub-title {
    color: var(--color-primary-dark);
    
}

.page-intro {
    color: var(--color-secondary);
    font-weight: 600;
}

.main-text a
     {
        text-decoration: none!important;
      }
.main-text a:link,
.main-text a:visited {
        color: var(--color-secondary)!important;
      }
      
.main-text a:hover,
.main-text a:active {
        color: var(--color-secondary-light)!important;
      }

.self-photo {
    float: left;
    margin: 0.5rem;
}


